

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
.background_img{
	position: relative;
    width: 100%;
    min-height: 100vh;
   
    background-size: cover;
}

.container-contenu{
    text-align: center;
    position: relative; 
    top: -50px;
}
.container-contenu h1{
    font-size: 4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 22%;
}

.container-contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}
    